<template>
    <main ref="main">
        <aside class="sidemenu" :class="{ 'opened': sideMenuOpened }" @click.self="sideMenuOpened = false">
            <div class="container">
                <div class="create-account-or-login">
                    <div class="button">
                        Create account
                    </div>
                    <div class="login">(debug mode: true)</div>
                </div>
                <div class="item">
                    <div class="icon"><font-awesome-icon :icon="['far', 'cog']"></font-awesome-icon></div>
                    <div class="label">Notifications</div>
                </div>
                <div class="item">
                    <div class="icon"><font-awesome-icon :icon="['far', 'comment-alt-lines']"></font-awesome-icon></div>
                    <div class="label">Feedback</div>
                </div>
                <div class="item">
                    <div class="icon"><font-awesome-icon :icon="['far', 'info']"></font-awesome-icon></div>
                    <div class="label">About them</div>
                </div>
                <a class="item" href="https://www.reddit.com/r/TheOfficialPodcast" target="_blank">
                    <div class="icon"><font-awesome-icon :icon="['fab', 'reddit']" style="color: #ff4500;"></font-awesome-icon></div>
                    <div class="label">Check out their reddit</div>
                    <div class="icon small"><font-awesome-icon :icon="['far', 'external-link-alt']"></font-awesome-icon></div>
                </a>
                <a class="item" href="https://www.patreon.com/theofficialpodcast" target="_blank">
                    <div class="icon"><font-awesome-icon :icon="['fab', 'discord']" style="color: #7289da;"></font-awesome-icon></div>
                    <div class="label">Join their discord</div>
                    <div class="icon small"><font-awesome-icon :icon="['far', 'external-link-alt']"></font-awesome-icon></div>
                </a>
                <a class="item" href="https://www.patreon.com/theofficialpodcast" target="_blank">
                    <div class="icon"><font-awesome-icon :icon="['fab', 'patreon']" style="color: #f96854;"></font-awesome-icon></div>
                    <div class="label">Support them on patreon</div>
                    <div class="icon small"><font-awesome-icon :icon="['far', 'external-link-alt']"></font-awesome-icon></div>
                </a>
                <a class="item" href="https://open.spotify.com/show/6TXzjtMTEopiGjIsCfvv6W" target="_blank">
                    <div class="icon"><font-awesome-icon :icon="['fab', 'spotify']" style="color: #7ab800;"></font-awesome-icon></div>
                    <div class="label">Listen on Spotify</div>
                    <div class="icon small"><font-awesome-icon :icon="['far', 'external-link-alt']"></font-awesome-icon></div>
                </a>
                <a class="item" href="https://soundcloud.com/theofficialpodcast" target="_blank">
                    <div class="icon"><font-awesome-icon :icon="['fab', 'soundcloud']" style="color: #f80;"></font-awesome-icon></div>
                    <div class="label">Listen on SoundCloud</div>
                    <div class="icon small"><font-awesome-icon :icon="['far', 'external-link-alt']"></font-awesome-icon></div>
                </a>
                <a class="item" href="https://podcasts.apple.com/podcast/the-official-podcast/id1186089636" target="_blank">
                    <div class="icon"><font-awesome-icon :icon="['fab', 'itunes']" style="color: #fefefe;"></font-awesome-icon></div>
                    <div class="label">Listen on iTunes</div>
                    <div class="icon small"><font-awesome-icon :icon="['far', 'external-link-alt']"></font-awesome-icon></div>
                </a>
                <a class="item" href="https://twitter.com/jackoffchannel" target="_blank">
                    <div class="icon"><font-awesome-icon :icon="['fab', 'twitter']" style="color: #55acee;"></font-awesome-icon></div>
                    <div class="label">Follow them on twitter</div>
                    <div class="icon small"><font-awesome-icon :icon="['far', 'external-link-alt']"></font-awesome-icon></div>
                </a>
            </div>
        </aside>
        <nav class="top" :class="scrollState">
            <div class="sidemenu-toggle">
                <font-awesome-icon :icon="['far', 'bars']" @click="sideMenuOpened = true"></font-awesome-icon>
            </div>
            <div class="label">{{ $store.getters[ 'topNavigator/label' ] }}</div>
            <div class="icons">
                <font-awesome-icon
                    v-for="( icon, index ) in $store.getters[ 'topNavigator/icons' ]"
                    :key="index"
                    :icon="[ 'far', icon.icon ]"
                    @click="icon.action"
                ></font-awesome-icon>
            </div>
        </nav>
        <keep-alive>
            <router-view></router-view>
        </keep-alive>
        <nav class="bottom">
            <router-link
                tag="div"
                class="link"
                :class="{ 'router-link-exact-active': $route.meta.primaryNavigatorHighlight === 'episodes' }"
                :to="{ name: 'episodes' }"
            >
                <font-awesome-icon :icon="['far', 'podcast']"></font-awesome-icon>
                <span>Episodes</span>
            </router-link>
            <router-link
                tag="div"
                class="link"
                :class="{ 'router-link-exact-active': $route.meta.primaryNavigatorHighlight === 'trivia' }"
                :to="{ name: 'trivia' }"
            >
                <font-awesome-icon :icon="['far', 'question']"></font-awesome-icon>
                <span>Trivia</span>
            </router-link>
            <router-link
                tag="div"
                class="link"
                :class="{ 'router-link-exact-active': $route.meta.primaryNavigatorHighlight === 'fanfiction' }"
                :to="{ name: 'fanfiction' }"
            >
                <font-awesome-icon :icon="['far', 'book']"></font-awesome-icon>
                <span>fanfiction</span>
            </router-link>
            <router-link
                tag="div"
                class="link"
                :class="{ 'router-link-exact-active': $route.meta.primaryNavigatorHighlight === 'soundboard' }"
                :to="{ name: 'soundboard' }"
            >
                <font-awesome-icon :icon="['far', 'volume']"></font-awesome-icon>
                <span>Soundboard</span>
            </router-link>
        </nav>
    </main>
</template>

<style lang="scss" scoped>
main {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

aside.sidemenu {
    //TODO USE AutoAlpha GSAP animations instead. This is not performant due to the background-image & backdrop filter
    position: fixed;
    opacity: 0;
    visibility: hidden;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba( 0, 0, 0, .8 );
    pointer-events: none;
    will-change: opacity;
    transition: opacity 0.4s;
    z-index: 5;

    &.opened {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        transition: opacity .4s;

        .container {
            transform: translate( 0%, 0% );
            transition: transform .4s;
        }
    }

    .container {
        position: relative;
        width: calc( 100% - 40px );
        height: 100%;
        background-color: #232323;
        box-shadow: 0px 0px 12px 0px rgba( 0, 0, 0, .9 );
        will-change: transform;
        transform: translate( -120%, 0% );
        transition: transform .4s;
    }

    .create-account-or-login {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding: 20px;
        border-bottom: 1px dotted #080808;

        .button {
            font-size: 0.9rem;
            padding: 10px 20px;
            background-color: #FE1734;
            border-radius: 2px;
            font-weight: 700;
            text-transform: uppercase;
            box-shadow: 0px 0px 12px 0px rgba( #FE1734, .2 );
            transition: background-color .12s;

            &:active {
                background-color: darken( #FE1734, 15% );
                transition: background-color .12s;
            }
        }

        .login {
            font-size: 0.7rem;
        }
    }

    .item {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        width: 100%;
        border-bottom: 1px dotted #080808;
        font-size: 0.8rem;
        user-select: none;
        transition: background-color .2s;

        &:active {
            background-color: #181818;
        }

        .label {
            width: 100%;
        }

        .icon {
            position: relative;
            flex-shrink: 0;
            width: 50px;
            height: 50px;
            font-size: 1.3rem;

            i, svg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate( -50%, -50% );
            }

            &.small {
                font-size: 0.8rem;
            }
        }
    }
}

nav.top {
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px;
    width: 100%;
    background-color: transparent;
    font-size: 1.3rem;
    transform: translate( 0%, 0% ) translateZ( 0 );
    will-change: transform;
    transition: all .2s;
    z-index: 4;

    &.at-top {
        transform: translate( 0%, 0% ) translateZ( 0 );
        transition: all .2s;
    }

    &.scrolling-down {
        transform: translate( 0%, -120% ) translateZ( 0 );
        transition: all .2s;
    }

    &.scrolling-up {
        background-color: rgba( 0, 0, 0, .8 );
        box-shadow: 0px 0px 4px 0px rgba( 0, 0, 0, .6 );
        padding: 15px 20px;
        transform: translate( 0%, 0% ) translateZ( 0 );
        transition: all .2s;
    }

    .icons {
        i, svg  {
            margin-left: 15px;
        }
    }

    .label {
        flex: auto;
        font-size: 0.9rem;
        font-weight: 700;
        margin-left: 20px;
    }
}

nav.bottom {
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 55px;
    width: 100%;
    background-color: #000;
    filter: drop-shadow( 0px 0px 4px rgba( 0, 0, 0, .6 ) ) drop-shadow( 0px 0px 6px rgba( 0, 0, 0, 1 ) );
    transition: color .2s;
    z-index: 2;

    .link {
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: calc( 100% / 4 );
        color: #808080;
        font-size: 1.1rem;
        transition: color .2s;

        &.router-link-exact-active {
            color: #fff;
            transition: color .2s;
        }

        &:active {
            color: #F2F2F2;
            transition: color .2s;
        }

        i, svg {
            margin-bottom: 5px;
            height: 20px;
        }

        span {
            font-size: 0.65rem;
            font-weight: 600;
        }
    }
}
</style>

<script>
export default {
    data()
    {
        return {
            scrollState: 'show',
            sideMenuOpened: false
        }
    },

    mounted()
    {
        let previouseScrollPosition
        this.$refs.main.addEventListener( 'scroll', () =>
        {
            const scrollPosition = this.$refs.main.scrollTop

            if ( !scrollPosition || scrollPosition < 40 )
            {
                this.scrollState = 'at-top'
            }
            else if ( scrollPosition > previouseScrollPosition )
            {
                this.scrollState = 'scrolling-down'
            }
            else
            {
                this.scrollState = 'scrolling-up'
            }

            previouseScrollPosition = scrollPosition
        })
    }
}
</script>
