<template>
    <section>
        <div class="summary big">
            Latest episode
        </div>
        <div class="episode latest">
            <div class="thumbnail"></div>
            <div class="description"></div>
            <div class="info">
                <div class="jack">
                </div>
                <div class="global-comments"></div>
                <div class="global-likes"></div>
                <div class="global-views"></div>
            </div>
            <div class="listen">LISTEN NOW</div>
        </div>

        <div v-if="false" class="summary">
            <div class="title">Next episode</div>
        </div>
        <div v-if="false" class="episode upcomming">
            <div class="thumbnail"></div>
            <div class="description"></div>
            <div class="info">
                <div class="global-comments"></div>
                <div class="global-likes"></div>
                <div class="global-views"></div>
            </div>
            <div class="countdown">02:06:32:22</div>
        </div>
        <div class="summary small">
            Other episodes
        </div>
        <router-link
            v-for="index in 228"
            :key="index"
            tag="div"
            :to="`episode/${index}`"
            class="episode small"
        >
            <div class="thumbnail-and-meta-data">
                <div class="thumbnail" :style="`background-image: url( ${getRandomThumbnail()} );`"></div>
                <div class="meta-data">
                    <div class="title">{{ getRandomTitle() }}</div>
                    <div class="release">10 october, 2019</div>
                </div>
            </div>
            <div class="number">
                <font-awesome-icon :icon="['far', 'hashtag']"></font-awesome-icon>
                {{ 228 - index }}
            </div>
        </router-link>
    </section>
</template>

<style lang="scss" scoped>
//TODO Implement same architecture as other pages
section {
    padding: 50px 20px 75px 20px;
}

.summary {
    font-weight: 700;

    &.big {
        margin-top: 40px;
        font-size: 1.8rem;
    }

    &.small {
        font-weight: 600;
        font-size: 1rem;
        margin-top: 30px;
    }
}

.episode {
    position: relative;
    width: 100%;
    background-color: lighten( #121212, 10% );
    box-shadow: 0px 0px 12px 0px rgba( 0, 0, 0, .2 );
    margin-top: 30px;
    border-radius: 5px;

    &.small {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding: 8px;
        margin-top: 12px;
        transition: transform .12s;

        &:active {
            opacity: .7;
            transform: scale( 0.96 );
            transition: transform .12s;
        }

        .number {
            position: relative;
            flex-shrink: 0;
            padding: 0px 12px;
            border-radius: 2px;
            font-weight: 500;
            font-size: 0.9rem;
            text-transform: uppercase;
        }

        i, svg {
            margin-right: -2px;
            opacity: 0.8;
        }

        .thumbnail-and-meta-data {
            position: relative;
            flex: auto;
            display: flex;
            align-items: center;
            flex-direction: row;
            overflow: hidden;
        }

        .thumbnail {
            position: relative;
            flex-shrink: 0;
            align-self: flex-start;
            width: 42px;
            height: 42px;
            border-radius: 5px;
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
            margin-right: 15px;
        }

        .meta-data {
            position: relative;
            width: 100%;
            font-weight: 500;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .title {
            position: relative;
            width: 100%;
            font-size: 0.8rem;
            margin-bottom: 3px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .release {
            position: relative;
            width: 100%;
            font-size: 0.76rem;
            opacity: 0.7;
        }
    }

    &.latest {
        height: 200px;
        margin-top: 20px;

        .listen {
            position: absolute;
            padding: 10px 20px;
            right: 10px;
            bottom: 10px;
            background-color: #FE1734;
            border-radius: 2px;
            font-weight: 700;
            text-transform: uppercase;
            box-shadow: 0px 0px 12px 0px rgba( #FE1734, .2 );
            transition: background-color .12s;

            &:active {
                background-color: darken( #FE1734, 15% );
                transition: background-color .12s;
            }
        }
    }

    &.upcomming {
        height: 200px;
        margin-top: 20px;

        .countdown {
            position: absolute;
            padding: 10px 20px;
            right: -3px;
            bottom: 10px;
            background-color: #0f0f0f;
            border-radius: 2px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}
</style>

<script>
import Store from '../../vuex/store.js'

export default {
    beforeRouteEnter( to, from, next )
    {
        Store.commit( 'topNavigator/setLabel', 'Episodes' )
        Store.commit(
            'topNavigator/setIcons',
            [
                {
                    icon: 'search',
                    action: () =>
                    {
                        alert( 'This feature has not yet been added' )
                    }
                }
            ]
        )

        next()
    },

    mounted()
    {
        console.log( this.$store.getters.episodes )
    },

    methods: {
        getRandomTitle()
        {
            return [ 'Australian Dangers with FriendlyJordies', 'How Buff is TOO BUFF?', 'Rule 34 Matt Walsh', 'HashtagHardTurboOnNetflix', 'Google Lobbering', 'The Spoiler Show' ][Math.round( Math.random() * 5 )]
        },
        getRandomThumbnail()
        {
            return [
                'https://i1.sndcdn.com/artworks-000528423045-bzlmsi-t500x500.jpg',
                'https://i1.sndcdn.com/artworks-000514359312-nrqirf-t500x500.jpg',
                'https://i1.sndcdn.com/artworks-y3UiexjYNUXd3hKH-tgpgkg-t500x500.jpg',
                'https://i1.sndcdn.com/artworks-E1kWY5535UAjcx2a-neWWrw-t500x500.jpg',
                'https://i1.sndcdn.com/artworks-E1kWY5535UAjcx2a-neWWrw-t500x500.jpg',
                'https://i1.sndcdn.com/artworks-VoywWPcEZYBTXAdx-jKTDFg-t500x500.jpg'
            ][Math.round( Math.random() * 5 )]
        }
    }
}
</script>
