@import "../../node_modules/normalize.css/normalize.css";
@import "../fonts/open-sans/stylesheet.css";

html, body {
    margin: 0px;
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 0.04rem;
    background-color: #121212;
    color: #fff;
    overflow: hidden;
}

* {
    box-sizing: border-box;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

a, select, input, button, textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    text-transform: inherit;
    letter-spacing: inherit;
    outline: none;
    color: inherit;

    &:focus { outline: 0; }
}
