<template>
    <section>
    </section>
</template>

<style lang="scss" scoped>

</style>

<script>
import Store from '../vuex/store.js'

export default {
    beforeRouteEnter( to, from, next )
    {
        Store.commit( 'topNavigator/setLabel', 'Fanfiction' )
        next()
    }
}
</script>
