<template>
    <section>
        <div class="download">
            <font-awesome-icon :icon="['far', 'download']"></font-awesome-icon>
            <div class="description">
                All sounds are not included in the install of this app. Press the blue button to donwload and cache the sounds for (later) offline usage.
            </div>
        </div>
    </section>
</template>

<style lang="scss" scoped>
section {
    padding: 60px 20px 80px 20px;
}
</style>

<script>
import Store from '../vuex/store.js'

export default {
    data()
    {
        return {
            showAllCategories: false
        }
    },

    beforeRouteEnter( to, from, next )
    {
        Store.commit( 'topNavigator/setLabel', 'Soundboard' )
        Store.commit(
            'topNavigator/setIcons',
            [
                {
                    icon: 'search',
                    action: () =>
                    {
                        alert( 'This feature has not yet been added' )
                    }
                }
            ]
        )
        next()
    }
}
</script>
