<template>
    <section>
        <div class="alert">
            <div class="icon">
                <font-awesome-icon :icon="['far', 'exclamation-triangle']"></font-awesome-icon>
            </div>
            <div class="title-and-description">
                <div class="title">DISCLAIMER</div>
                <div class="description">All trivia is submitted by fans and strangers. Only trivia with a 'verified' checkmark should be considered as truth and / or fact.</div>
            </div>
        </div>

        <div class="browse-categories">
            <div class="summary">
                Categories
            </div>
            <div class="categories" :class="{ opened: showAllCategories }">
                <div class="category">
                    Jackson Clarke
                    <div class="count">1</div>
                </div>
                <div class="category">
                    Andrew Wagenheim
                    <div class="count">12</div>
                </div>
                <div class="category">
                    Charlie White
                    <div class="count">32</div>
                </div>
                <div class="category">
                    Kaya Clarke
                    <div class="count">45</div>
                </div>
                <div class="category">
                    Verified
                    <div class="count">6</div>
                </div>
                <div class="category">
                    Episodes
                    <div class="count">6</div>
                </div>
                <div class="category">
                    Sponsors
                    <div class="count">2</div>
                </div>
                <div class="category">
                    Opinions
                    <div class="count">75</div>
                </div>
            </div>
            <div class="show-more-or-less" @click="showAllCategories = !showAllCategories">
                <template v-if="showAllCategories">
                    Show less <font-awesome-icon :icon="['far', 'chevron-up']"></font-awesome-icon>
                </template>
                <template v-else>
                    Show more <font-awesome-icon :icon="['far', 'chevron-down']"></font-awesome-icon>
                </template>
            </div>
        </div>

        <div class="latest">
            <div class="summary">
                Latest submissions
            </div>
            <div v-for="index in 10" :key="index" class="trivia">
                <div class="title">
                    Charlie may be a 'pencil sharpener leftover' collector.
                </div>
                <div class="text">
                    We all know that if someone doesn't deny a statement made about them, you should consider it as truth until said person says otherwise. That being said; Charlie is a 'pencil sharpener leftovers' collector. Proof? I don't need to since Charlie hasn't denied the existance of proof yet.
                </div>
                <div class="meta">
                    <div class="number"><font-awesome-icon :icon="['far', 'hashtag']"></font-awesome-icon>0000{{ index }}</div>
                    <div class="upvotes-and-comments">
                        <div class="upvotes"><font-awesome-icon :icon="['far', 'arrow-up']"></font-awesome-icon>523</div>
                        <div class="comments"><font-awesome-icon :icon="['far', 'comments']"></font-awesome-icon>12</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<style lang="scss" scoped>
section {
    padding: 60px 20px 75px 20px;
}

.alert {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-top: 35px;
    margin-bottom: 35px;
    border-radius: 5px;

    .close {
        position: absolute;
        top: 0px;
        right: 5px;
        color: #B2B2B2;
        font-size: 0.8rem;
    }

    .icon {
        flex-shrink: 0;
        align-self: flex-start;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        font-size: 1.1rem;
        color: #FE1734;
    }

    .title-and-description {
        font-size: 0.7rem;
        width: 100%;

        .title {
            font-size: 0.9rem;
            font-weight: 700;
            color: #FE1734;
            margin-bottom: 3px;
        }
    }
}

.browse-categories {
    position: relative;
    margin-top: 20px;
    width: 100%;
    will-change: transform;

    .summary {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 1rem;
    }

    .categories {
        position: relative;
        width: 100%;
        height: 100%;
        min-height: 250px;
        max-height: 25vh;
        transition: max-height .4s;
        overflow: hidden;

        &.opened {
            max-height: 400px;

            &:after {
                opacity: 0;
            }
        }

        &:after {
            position: absolute;
            opacity: 1;
            content: '';
            bottom: 0px;
            left: 0px;
            width: 100%;
            height: 15vh;
            background-image: linear-gradient( to bottom, transparent, #121212 );
            transition: opacity .2s;
            z-index: 2;
        }
    }

    .category {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        padding: 10px 15px;
        margin-bottom: 8px;
        background-color: lighten( #040404, 15% );
        box-shadow: 0px 0px 12px 0px rgba( 0, 0, 0, .2 );
        border-radius: 3px;
        font-size: 0.85rem;
        color: #fff;

        .count {
            padding: 5px;
            min-width: 30px;
            background-color: #212121;
            border-radius: 3px;
            text-align: center;
            font-size: 0.7rem;
        }
    }

    .show-more-or-less {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: -40px;
        width: 100%;
        height: 40px;
        font-size: 0.8rem;
        opacity: 0.95;
        z-index: 3;

        i, svg {
            margin-left: 5px;
            font-size: 0.5rem;
        }
    }
}

.latest {
    position: relative;
    margin-top: 70px;
    width: 100%;

    .summary {
        position: relative;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        margin-bottom: 25px;
        font-weight: 700;
        font-size: 2rem;
    }

    .trivia {
        position: relative;
        width: 100%;
        margin-top: 12px;
        padding: 15px;
        background-color: lighten( #040404, 15% );
        box-shadow: 0px 0px 12px 0px rgba( 0, 0, 0, .2 );
        border-radius: 3px;
        font-size: 0.85rem;
        color: #fff;

        .title {
            margin-bottom: 5px;
            font-size: 0.8rem;
            font-weight: 700;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .text {
            font-weight: 400;
            opacity: 0.9;
            font-size: 0.7rem;
        }

        .meta {
            position: relative;
            margin-top: 25px;
            padding: 5px 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            font-size: 0.8rem;
            background-color: lighten( #040404, 12% );
            border-radius: 3px;

            .number {
                color: #ABABAB;

                i, svg {
                    font-size: 0.7rem;
                    margin-right: 2px;
                }
            }

            .title {
                flex-shrink: 0;
            }

            .upvotes-and-comments {
                flex-shrink: 0;

                > div {
                    float: left;
                    font-size: 0.75rem;
                }

                i, svg {
                    margin: 0px 5px 0px 10px;
                    font-size: 0.65rem;
                }
            }
        }
    }
}
</style>

<script>
import Store from '../vuex/store.js'

export default {
    data()
    {
        return {
            showAllCategories: false
        }
    },

    beforeRouteEnter( to, from, next )
    {
        Store.commit( 'topNavigator/setLabel', 'Trivia' )
        Store.commit(
            'topNavigator/setIcons',
            [
                {
                    icon: 'sort-alt',
                    action: () =>
                    {
                        alert( 'This feature has not yet been added' )
                    }
                },
                {
                    icon: 'filter',
                    action: () =>
                    {
                        alert( 'This feature has not yet been added' )
                    }
                },
                {
                    icon: 'search',
                    action: () =>
                    {
                        alert( 'This feature has not yet been added' )
                    }
                }
            ]
        )
        next()
    }
}
</script>
