<template>
    <section>
        <header>
            <div class="title">Some random title</div>
        </header>
        <div class="listen-or-watch">
            <div class="listen">Listen</div>
            <div class="watch">|></div>
        </div>
        <div class="meta">
            <div class="published">Published Ocotber 2020 2020</div>
            <div class="platforms">Spotify, SoundCloud, YouTube, iTunes</div>
        </div>
        <div class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit soluta sapiente magnam consequuntur asperiores cumque dolore, voluptates ducimus eligendi a exercitationem nulla aut voluptatem at et. Nulla praesentium a fugit!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit soluta sapiente magnam consequuntur asperiores cumque dolore, voluptates ducimus eligendi a exercitationem nulla aut voluptatem at et. Nulla praesentium a fugit!
        </div>
        <div class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit soluta sapiente magnam consequuntur asperiores cumque dolore, voluptates ducimus eligendi a exercitationem nulla aut voluptatem at et. Nulla praesentium a fugit!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit soluta sapiente magnam consequuntur asperiores cumque dolore, voluptates ducimus eligendi a exercitationem nulla aut voluptatem at et. Nulla praesentium a fugit!
        </div>
    </section>
</template>

<style lang="scss" scoped>
section {
    position: relative;
    width: 100%;
    height: 100%;
}

header {
    position: relative;
    height: 35vh;
    min-height: 300px;
    width: 100%;
    background-image: url( 'https://i1.sndcdn.com/artworks-000528423045-bzlmsi-t500x500.jpg' );
    background-position: center center;
    background-size: cover;

    .title {
        position: absolute;
        bottom: 0px;
        left: 0px;
        padding: 20px;
        width: 100%;
        font-size: 1.7rem;
        font-weight: 700;
        z-index: 2;
    }

    &:after {
        position: absolute;
        content: '';
        opacity: 1;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 35%;
        background-image: linear-gradient( to bottom, transparent, #121212 );
        transition: opacity .2s;
        z-index: 1;
    }
}
</style>

<script>
import Store from '../../vuex/store.js'

export default {
    beforeRouteEnter( to, from, next )
    {
        Store.commit( 'topNavigator/setLabel', `Episode #${to.params.id}` )
        Store.commit(
            'topNavigator/setIcons',
            [
                {
                    icon: 'search',
                    action: () =>
                    {
                        alert( 'This feature has not yet been added' )
                    }
                }
            ]
        )

        next()
    },

    computed: {
        episode()
        {
            return this.$store.getters.episodes.episodes()
        }
    }
}
</script>
